# Environment
.env
.env.*
!.env.example

# Node
node_modules/
.next/
out/
dist/

# Java
target/
*.class

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store

# Logs
*.log

# Build
build/